<% content_for :header do %><% end %>

  <img src="images/0022.jpg" class="sreenshot" alt="el típico layout centrado"/>

<div class="article">
  <h1>el típico layout centrado</h1>
  
  <p>
    Muchísimas veces nos encontraremos con este tipo de layout, todo totalmente centradito, con una cabecera, un par de columnas y un pie.
  </p>
  
  <p>
    En este caso vamos a tener un contenedor que nos va a funcionar como 'director' y a usar el mínimo html posible, un poquito más adelante añadiremos más html para hacer cosas más bonitas, pero por algún sitio hay que empezar. Así que la estructura sería algo como:
  </p>
  
  <pre><code>
&lt;div id=&quot;wrapper&quot;&gt;

  &lt;div id=&quot;header&quot;&gt;
    Su cabecera aqu&iacute;
  &lt;/div&gt;&lt;!-- #header --&gt;
  
  &lt;div id=&quot;article&quot;&gt;
    Su lorem ipsum aqu&iacute;
  &lt;/div&gt;&lt;!-- #article--&gt;
  
  &lt;div id=&quot;aside&quot;&gt;
    Su sidebar
  &lt;/div&gt;&lt;!-- #aside--&gt;
  
  &lt;div id=&quot;footer&quot;&gt;
    Su pie aqu&iacute;
  &lt;/div&gt;&lt;!-- #footer --&gt;
  
&lt;/div&gt;&lt;!-- #wrapper --&gt;
  </code></pre>
  <p>
    El código es mínimo, así que te recomiendo que abras <a href="examples/example006.html">el ejemplo</a> y le des un repasito con firebug.
  </p>
  
  <p>
    <a href="005-layout.html" class="button">« anterior</a>
    <a href="005-layout-02.html" class="button">siguiente »</a>
  </p>

</div>
