<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
  <title>A New Page - front end</title>
  <link rel="stylesheet" href="stylesheets/presentacion.css" type="text/css" media="screen" charset="utf-8"/>
  <link rel="stylesheet" href="stylesheets/presentacion-handheld.css" type="text/css" media="only screen and (max-device-width: 480px)" charset="utf-8"/>
  <!--[if lte IE 6]>
    <link rel="stylesheet" href="stylesheets/presentacion-ie.css" type="text/css" media="screen" charset="utf-8"/>
  <![endif]-->
  
    p {
      padding: 0.5em;
      margin: 0;
    }
    
    #wadus_usage {
      width: 20em;
      margin: 4em auto;
    }
    
    #wadus_usage dd {
      color: #FFF;
      padding: 0.5em;
      margin: 0 0 0.5em 0;
      background: #e50278;
      border-right: 1px solid #841941;
      border-bottom: 1px solid #841941;
      text-align: right;
    }
    
    #wadus_usage dd strong {
      position: absolute;
      right: 1.5em;
      color: #999;
    }
    
    #wadus_usage dd.mucho {
      width: 50%;
    }
    
    #wadus_usage dd.poco {
      width: 20%;
    }
    
    #wadus_usage dd.nada {
      width: 30%;
    }
    
    #car_card dt {
      float: left;
      width: 11em;
      text-align: right;
      font-weight: bold;
    }
    
    #car_card dd {
      display: block;
      margin: 0 0 0.5em 11.5em;
    }
    
    
    #wadus_usage {
      position: relative;
      background: #FFFFFF;
      padding: 1.5em;
    }
    
    #wadus_usage dt {
      font-size: 1.3em;
      padding: 0 0 0.5em 0;
      color: #666;
    }
    

</head>
<body>
  <div id="header" class="wrapper">
    <a href="index.html" class="logo"><strong>Front end de andar por casa</strong></a>
    <a href="toc.html">índice de contenidos</a>
  </div><!-- #header -->
  <div id="content">
    <div class="wrapper">
      <% content_for :header do %><% end %>
Hi, I'm a new page!







http://www.behance.net/Gallery/The-Little-Things-of-Life/215778

    </div><!-- .wrapper -->
  </div><!-- #content -->
  
</body>
</html>
