<% content_for :header do %><% end %>

<img src="images/0016.png" class="sreenshot" alt="flotaciones"/>

<div class="article">
  <h1>un problema típico en explorer</h1>
  
  <p>Internet Explorer 6 tiene una <a href="http://www.positioniseverything.net/explorer/floatIndent.html">amplia variedad de bugs</a> relacionados con la flotación.</p>
  
  <p>Por cierto <a href="http://bit.ly/ie6voodoo">bonito broche</a> ¿verdad? :)</p>
  
  <p>
    <a href="004-flotar.html" class="button">« anterior</a>
    <a href="004-flotar-02.html" class="button">siguiente »</a>
  </p>

</div>
