<% content_for :header do %>
    p {
      padding: 0.5em;
      margin: 0;
    }
    
    #wadus_usage {
      width: 20em;
      margin: 4em auto;
    }
    
    #wadus_usage dd {
      color: #FFF;
      padding: 0.5em;
      margin: 0 0 0.5em 0;
      background: #e50278;
      border-right: 1px solid #841941;
      border-bottom: 1px solid #841941;
      text-align: right;
    }
    
    #wadus_usage dd strong {
      position: absolute;
      right: 1.5em;
      color: #999;
    }
    
    #wadus_usage dd.mucho {
      width: 50%;
    }
    
    #wadus_usage dd.poco {
      width: 20%;
    }
    
    #wadus_usage dd.nada {
      width: 30%;
    }
    
    #car_card dt {
      float: left;
      width: 11em;
      text-align: right;
      font-weight: bold;
    }
    
    #car_card dd {
      display: block;
      margin: 0 0 0.5em 11.5em;
    }
    
    
    #wadus_usage {
      position: relative;
      background: #FFFFFF;
      padding: 1.5em;
    }
    
    #wadus_usage dt {
      font-size: 1.3em;
      padding: 0 0 0.5em 0;
      color: #666;
    }
    
<% end %>


<dl id="wadus_usage">
  <dt>Uso de wadus:</dt>
  <dd class="mucho"><strong>Mucho</strong> 50%</dd>
  <dd class="poco"><strong>Poco</strong> 20%</dd>
  <dd class="nada"><strong>Nada</strong> 30%</dd>
</dl><!-- #wadus_usage -->

<dl id="car_card">
  <dt>Marca:</dt>
  <dd>Wadus</dd>
  
  <dt>Combustible:</dt>
  <dd>Gasolina</dd>
  
  <dt>Potencia:</dt>
  <dd>199 CV</dd>
  
  <dt>Observaciones:</dt>
  <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
  
  <dt>Rematriculado en:</dt>
  <dd>2009</dd>
  
  <dt>Matrícula:</dt>
  <dd>0000CFX</dd>
  
  <dt>Aparcado en:</dt>
  <dd>La calle</dd>
</dl><!-- #car_card -->

