<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= @page.title %> - front end</title>
  <style type="text/css">
    body {
      font-family: Arial, Helvetica, sans-serif;
      font-size: x-small;
      font-variant: normal;
      font-style: normal;
      font-weight: normal;
      line-height: 1.5em;
      text-align: center;
      background: #EDECE9;
      margin: 0;
      padding: 0;
    }
    
    #column {
      width: 30em;
      margin: 0 auto;
      font-size: 1.3em;
      text-align: left;
    }
    
    <%= get_content_for :header %>
  </style>
  <%= get_content_for :js %>
</head>
<body>
  <div id="column">
    <%= @page_rep.content %>
  </div><!-- #column -->
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-262914-12']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
    })();

  </script>
</body>
</html>
