<% content_for :header do %><% end %>

<img src="images/0031.png" class="sreenshot" alt="ahora todo junto"/>

<div class="article">
  <h1>ahora todo junto</h1>
  
  <p>
    Con todo lo que hemos visto en este cursito no debería de ser nada difícil poder hacer un layout como el que vemos en la imagen :) Es sólo cuestión de práctica y de equivocarnos miles de veces.
  </p>
  
  <p>
    Pero claro, aquí somos todos de ver para creer, así que lo mejor va a ser que lo deje hecho en un ejemplito para que lo podáis inspeccionar alegremente y que os sirva para despejar dudas (eso espero!!!).
  </p>
  
  <p>
    Al ejemplo se va <a href="examples/example013.html">por aquí</a>.
  </p>
  
  <p>
    <a href="008-hacks-02.html" class="button">« anterior</a>
    <a href="010-smartphonismo.html" class="button">siguiente »</a>
  </p>

</div>
