<% content_for :header do %><% end %>

<img src="images/0008.png" class="sreenshot" alt="establece criterios de calidad"/>

<div class="article">
  <h1>establece criterios de calidad</h1>
  
  <p>Todo proceso debería de tener un control de calidad, cualquier método que nos permita medir si la cosa va bien.</p>
  
  <p>El criterio más inmediato sería pasar nuestro código por los validadores de la w3c recordando que un código que valide no significa que funcione correctamente. Si tienes un buen puñado de htmls hay maneras de automatizar el <a href="http://gist.github.com/279127">validado</a> o de checkear <a href="http://gist.github.com/279128">determinados aspectos accesibles</a>.</p>
  
  <p>La revisión entre navegadores, incluso en proyectos pequeños, es tediosa pero necesaria. Lo ideal es que nuestro trabajo funcione a la perfección en todo el espectro, pero es interesante definir cuales son los imprescindibles.</p>
  
  <p>
    <a href="001-buenas-practicas-05.html" class="button">« anterior</a>
    <a href="001-buenas-practicas-07.html" class="button">siguiente »</a>
  </p>

</div>
