<% content_for :header do %><% end %>

<img src="images/0010.png" class="sreenshot" alt="maquetar es fácil"/>

<div class="article">
  <h1>maquetar es fácil</h1>
  
  <p>:) Sólo se trata de hacer cuadraditos y engañar a la vista. Haz una prueba. Entra en cualquier web y añade con firebug esta regla.</p>
  
  <pre><code>
  * {
    border: 1px solid red;
  }
  </code></pre>
  
  <p>El resultado sería un montón de cuadraditos con borde rojo. Visto así no puede ser tan difícil ¿no?</p>
  
  <p>
    <a href="001-buenas-practicas-07.html" class="button">« anterior</a>
    <a href="002-modelo-de-caja-02.html" class="button">siguiente »</a>
  </p>

</div>
