<% content_for :header do %><% end %>

<img src="images/0027.jpg" class="sreenshot" alt="sliding doors"/>

<div class="article">
  <h1>sliding doors</h1>
  
  <p>
    Esta técnica es tan chula como <a href="http://www.alistapart.com/articles/slidingdoors/">milenaria</a>, y sigue siendo tan útil como el primer día. 
  </p>
  
  <p>
    Se trata de jugar con dos fondos de manera que actúen como puertas correderas. Uno cubre el fondo y un lado y el otro hace de cierre.
  </p>
  
  <p>
    <img src="images/sliding.png" alt="sliding"/>
  </p>
  
  <p>
    <a href="007-px-vs-ems.html" class="button">« anterior</a>
    <a href="008-hacks-01.html" class="button">siguiente »</a>
  </p>

</div>
