<% content_for :header do %>
    p {
      padding: 0.5em;
      margin: 0;
    }
    
    #search {
      width: 12em;
      margin: 2em auto;
      background: #FFFFFF;
      border: 2px solid #FFFFFF;
    }
    
    #search fieldset {
      padding: 0;
      border: 1px solid #CCC;
      border-bottom: 1px solid #B1B1B1;
      background: #CFCFCF url("../images/searchgradient.gif") repeat-x top;
      overflow: hidden;
      height: 1%
    }
    
    #search label {
      display: none;
    }
    
    #search input {
      float: left;
      width: 7.4em;
      margin: 0;
      padding: 0.4em 0 0.3em 0.4em;
      font-size: 1.1em;
      color: #666;
      background: transparent;
      border: none;
    }
    
    #search button {
      float: right;
      width: 2.5em;
      height: 2.6em;
      overflow: visible;
      border: none;
      text-indent: -9000em;
      font-size: x-small;
      background:transparent url("../images/searchbutton.gif") no-repeat center center;
    }
    
    
<% end %>

<form action="#" method="post" id="search">
  <fieldset>
    <label for="q">Buscar</label>
    <input type="text" name="q" value="" id="q"/>
    <button type="submit">Vamos!</button>
  </fieldset>
</form>
