<% content_for :header do %><% end %>

<img src="images/gracias.png" class="sreenshot" alt="gracias"/>

<div class="article">
  <h1>gracias</h1>
  
  <p>
    En serio, me parece virtualmente imposible haber explicado todo esto en una tarde de viernes y un sábado por la mañana y que alguien se enterase de algo :) Siempre me lo paso genial preparando cursos, haciendo presentaciones bonitas de verdad y metiendo por el medio chistes malos.
  </p>
  
  <p>
    Fue un verdadero placer que recuerdo con muchísisisisisisimo cariño.
  </p>

  <h2>imágenes</h2>
  
  <p>
    Tal vez todo esto hubiese sido mucho más aburrido si no tuviese las imágenes que tiene. Por desgracia soy tan despistado como parece y al recopilarlas guardé unos enlaces sí y otros no. Todo lo encontré a través de <a href="http://ffffound.com/">ffffound</a>, así que haré propósito de enmienda e iré citando los autores de todas las imágenes usadas.
  </p>
  
  <ul>
    <li><a href="http://www.behance.net/Gallery/The-Little-Things-of-Life/215778">Anna Rusakova</a></li>
    <li>...</li>
  </ul>
  
</div>





