<% content_for :header do %><% end %>

<img src="images/0013.png" class="sreenshot" alt="absoluto y relativo"/>

<div class="article">
  <h1>absoluto y relativo</h1>
  
  <p>Echémosle un vistazo a <a href="examples/example001.html">este ejemplo</a>.</p>
  
  <p>El elemento relativo (el parrafito azul) tiene un z-index de 3 que hace que se quede por encima del elemento absoluto (el rosa) que tiene un z-index de 1.</p>
  
  <p>El elemento absoluto tiene como origen de coordenadas la esquina superior izquierda de la página. Como sólo hemos definido la propiedad top a 0 nos sitúa el elemento en la parte superior de la página pero no lo desplaza lateralmente.</p>
  
  <p>
    <a href="003-posicionar.html" class="button">« anterior</a>
    <a href="003-posicionar-03.html" class="button">siguiente »</a>
  </p>

</div>
