<% content_for :header do %><% end %>
<a href="http://bigcartel.com/signup">
  <img src="images/0021.png" class="sreenshot" alt="afrontar un diseño"/>
</a>

<div class="article">
  <h1>afrontar un diseño</h1>
  
  <p>
    Con los conceptos básicos más o menos claro nos toca enfrentarnos a nuestro primer diseño. El problema casi siempre es cómo empezar. En mi caso prefiero ir siempre de lo general a lo particular, intentando definir todos los grandes contenedores de fuera a adentro, incluso aunque los deje vacío en un principio.
  </p>
  
  <p>
    <img src="images/layouts.png" alt="Layouts"/>
  </p>
  
  <p>
    A partir de ahí identifico el contenido por grupos para ir escribiendo código para posteriormente darle estilo.
  </p>
  
  <p>
    Además tengo la suerte de que casi todos los diseños que caen en mi mesa están perfectamente reticulados. Si tú también eres un suertudo tal vez <a href="http://reticulatorjs.mamuso.net/">esta cosita que hice</a> pueda venirte bien.
  </p>
  
  <p>
    Seguro que durante nuestra larga y fructífera vida como picadores de código nos vamos a encontrar infinidad de diseños, así que aquí no podemos poner ejemplos de todos. Vamos a jugar con uno más básico y otro que tiene truco :)
  </p>
  
  <p>
    <a href="004-flotar-05.html" class="button">« anterior</a>
    <a href="005-layout-01.html" class="button">siguiente »</a>
  </p>

</div>
