<% content_for :header do %>
    p {
      padding: 0.5em;
      margin: 0;
    }
  
    .relative-element {
      position: relative;
      left: 3em;
      background: #65D2E6;
      z-index: 2;
    }
  
    .absolute-element {
      position: absolute;
      top: 0;
      width: 20em;
      height: 15em;
      background: #FF4376;
      z-index: 1;
      margin: 0;
    }
<% end %>
<% content_for :js do %><% end %>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p class="relative-element">Soy un elemento relativo, que estoy un poquito tirado hacia un lado y que además me voy a quedar siempre por encima de todo</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p class="absolute-element">Soy un elemento absoluto y, a pesar de estar abajo del todo en el html, como me han puesto un top me he ido para arriba, así soy yo. Por cierto, el elemento relativo me está pisando :(</p>
