<% content_for :header do %><% end %>

<img src="images/0030.png" class="sreenshot" alt="bordes redondeados"/>

<div class="article">
  <h1>bordes redondeados</h1>
  
  <p>
    Aha! Mi teoría es que cuando todo el espectro de internet haya terminado de integrar una solución válida al problema de bordes redondeados ya habrán pasado de moda. 
  </p>
  
  <p>
    Existen muchísimas soluciones de js puro que solucionan todo esto con facilidad, aquí vamos a ver una de las que más me gusta a mi, que implica un poquito de hacking.
  </p>
  
  <p>
    Para todos los navegadores que lo soporten vamos a usar las <a href="http://www.css3.info/preview/rounded-border/">propiedades de CSS3</a> que nos permitan hacer unos bonitos bordes redondeados, y luego está explorer (¿alguien lo dudaba?).
  </p>
  <p>
    <a href="008-hacks-01.html" class="button">« anterior</a>
    <a href="009-todo-junto.html" class="button">siguiente »</a>
  </p>

</div>
