<% content_for :header do %><% end %>

<img src="images/0030.png" class="sreenshot" alt="bordes redondeados"/>

<div class="article">
  <h1>bordes redondeados</h1>
  
  <p>
    Aha! Mi teoría es que cuando todos los navegadores del mundo hayan terminado de integrar una solución válida al problema de bordes redondeados ya habrán pasado de moda. 
  </p>
  
  <p>
    Existen muchísimas soluciones de js puro que solucionan todo esto con facilidad, aquí vamos a ver una de las que más me gusta a mi, que no dependen de una librería concreta y en la que no tiene por qué intervenir javascript.
  </p>
  
  <p>
    Para todos los navegadores que lo soporten vamos a usar las <a href="http://www.css3.info/preview/rounded-border/">propiedades de CSS3</a> que nos permitan hacer unos bonitos bordes redondeados, y luego está explorer (¿alguien lo dudaba?).
  </p>
  
  <p>
    Para explorer podemos usar como alternativa la pesadísima técnica de recortar todas las esquinitas. De manera que, teniendo este código:
  </p>
  
  <pre><code>
&lt;div id=&quot;cosaaredondear&quot;&gt;
  &lt;span class=&quot;rc nw&quot;&gt;&lt;/span&gt;
  &lt;span class=&quot;rc ne&quot;&gt;&lt;/span&gt;
  &lt;span class=&quot;rc se&quot;&gt;&lt;/span&gt;
  &lt;span class=&quot;rc sw&quot;&gt;&lt;/span&gt;
  contenido!
&lt;/div&gt;
  </code></pre>
  
  <p>
    Con <em>cosaaredondear</em> posicionado relativo podemos coger esos 4 spans y posicionarlos de forma absoluta, uno en cada esquina, poniendo el background correspondiente. Se ve mucho mejor en <a href="examples/example012.html">el ejemplo</a>.
  </p>
  
  <p>
    Anécdota del abuelo cebolleta: Esto lo usamos en <a href="http://www.domestika.org/">domestika</a>, con <a href="http://borjadelgado.com/">Borja</a>. Es tan pesado de estilizar y de cuadrar que si inspeccionas los elementos con bordes redondeados verás que tienen la clase <em>to_hell_with_rounded_corners</em>. Creo que es más que descriptivo :)
  </p>
  
  <p>
    Mi recomendación es que si tu maqueta tiene un uso abusivo de bordes redondeados lo mejor es que, únicamente en explorer, inyectes esos spans por javascript para mantener limpio de código el documento.
  </p>
  
  
  <p>
    <a href="008-hacks-01.html" class="button">« anterior</a>
    <a href="009-todo-junto.html" class="button">siguiente »</a>
  </p>

</div>
