<% content_for :header do %><% end %>

<img src="images/0004.png" class="sreenshot" alt="identa y comenta"/>

<div class="article">
  <h1>identa y comenta</h1>
  
  <p>Sobre todo si trabajamos en grupo. Es más agradable trabajar con un código ordenadito y bien identado. Esto no me importaba tanto cuando comencé a maquetar, ahora soy un auténtico psicópata :)</p>
  
  <p>También agradecerás poner comentarios para identificar los grupos principales en tu maqueta. Da igual que sean de apertura y cierre o sólo de cierre, a medida que el html va creciendo es genial tener ayudas para saber donde cierra cada bloque. Un ejemplito:</p>
  <pre><code>
    &lt;div id=&quot;heading&quot;&gt;
      3 toneladas de c&oacute;digo
    &lt;/div&gt;&lt;!-- #heading --&gt;
  </code></pre>
  
  <p>A mi me funcina muy bien poner # o . para identificar si el nombre identifica a una clase o una id, pero hay mil maneras de hacerlo, elige la tuya.</p>
  
  <p>
    <a href="001-buenas-practicas.html" class="button">« anterior</a>
    <a href="001-buenas-practicas-03.html" class="button">siguiente »</a>
  </p>

</div>
